/* 2. Для всего сайта задать разновидность шрифта: */
body{
    font-family: sans-serif;
}
.over-main {
    border: 5px solid;
    color: red;
    padding: 1px 1px 1px 1px;
}
.main-top {
    border: 4px solid;
    color: rgb(187, 82, 187);
    margin: 1px 1px 1px 1px;
}
.menu {
    border: 3px solid;
    color: forestgreen;
    margin: 1px 1px 1px 1px;
}
.header {
    border: 2px solid;
    color: lightskyblue;
    margin: 2px 2px 2px 2px;
}
.over-main-middle {
    border: 4px solid; 
    border-color:  rgb(187, 82, 187);
    margin: 2px 2px 2px 2px;
}
.main-middle {
    border: 3px solid; 
    border-color:  forestgreen;
    padding: 2px 2px 2px 2px;
}
.into-main-middle {
    border: 2px solid;
    color: magenta;
    padding: 1px 1px 1px 1px;
}
.main-down {
    border: 3px solid;
    border-color: red;
    margin: 2px 2px 2px 2px;
}
.footer {
    border: 5px solid;
    border-color: red;
    padding: 1px 1px 1px 1px;
}
.into-footer-top {
    border: 3px solid;
    border-color:lemonchiffon;
    margin: 2px 2px 2px 2px;
}
.in-footer-top {
    border: 2px solid;
    border-color: pink;
    margin: 1px 1px 1px 1px;
}
.into-footer-down {
    border: 3px solid;
    border-color:rgb(132, 192, 43);
    margin: 2px 2px 2px 2px;
}
.in-footer-down {
    border: 2px solid;
    color: gray;
    margin: 1px 1px 1px 1px;
}
/* 3. Для всех параграфов присвоить класс и задать стили */
.pstyle{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
/* 4. Для заголовка h1 создать класс и присвоить стили: */
.heading1 {
    font-size: 64px;
    color: #1F3F68;
}
/* 5. Для заголовка h2 (на странице контакты) создать класс и присвоить стили: */
.heading2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
/* 6. Заголовку h3 создать класс и задать стили: */
.heading3 {
    font-size: 36px;
    text-align: center;
}
/* 7. Заголовкам h4 создать класс и задать стили */
.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;   
}
/* 8. Для всех полей ввода (input, textarea) задать общий класс и к нему стили: */
.inputs {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4; 
}
/* 9. Кнопке отправки формы присвоить класс и к нему стиль: */
.buttons {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
